* {
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: sans-serif;
	outline: none;
	font-size: 14px;
}

body {
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
